<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockfactura</name>
	<displayName><![CDATA[Electronic Invoice]]></displayName>
	<version><![CDATA[3.0]]></version>
	<description><![CDATA[This module lets you create electronic invoice]]></description>
	<author><![CDATA[factura.com]]></author>
	<tab><![CDATA[billing_invoicing]]></tab>
	<confirmUninstall><![CDATA[Confirm uninstall ?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
